
bs4
lxml
requests
types-requests
pandas
scikit-learn
matplotlib
torch
transformers
evaluate
datasets
rouge-score
keybert[flair]
keyphrase_vectorizers
git+https://github.com/boudinfl/pke.git
spacy
YAKE
